
Access_Key/

# Terraform
Terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/6.15.0/darwin_amd64/
Terraform/.terraform.lock.hcl

# Editors
.vscode/
.idea/

# Byte-compiled
__pycache__/

# Distribution / packaging
.Python
build/
package/